<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="K12Performance" parallel="tests" thread-count="2">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener
			class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>

	<test name="Platform">
		<groups>
			<run>
				<include name="Platform" />
			</run>
		</groups>
		<classes>
			<class name="com.k12.performance.K12Performance_TC" />
		</classes>
	</test>

</suite>
