<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="ResearchSmoke" parallel="tests" thread-count="1">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener
			class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>

	<test name="surveyform">
		<groups>
			<run>
				<include name="surveyform" />
			</run>
		</groups>
		<classes>
			<class name="com.research.smoke.surveypage.SurveyPage_TC" />
		</classes>
	</test>

	<test name="smxpage">
		<groups>
			<run>
				<include name="smxpage" />
			</run>
		</groups>
		<classes>
			<class name="com.research.smoke.smxpage.SMXPage_TC" />
		</classes>
	</test>
	
	<test name="dmxpage">
		<groups>
			<run>
				<include name="dmxpage" />
			</run>
		</groups>
		<classes>
			<class name="com.research.smoke.dmxpage.DMXPage_TC" />
		</classes>
	</test>
	
		<test name="rmxpage">
		<groups>
			<run>
				<include name="rmxpage" />
			</run>
		</groups>
		<classes>
			<class name="com.research.smoke.rmxpage.RMXPage_TC" />
		</classes>
	</test>
	
	<test name="datapage">
		<groups>
			<run>
				<include name="datapage" />
			</run>
		</groups>
		<classes>
			<class name="com.research.smoke.datapage.DataPage_TC" />
		</classes>
	</test>

</suite>
