<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="EngagePerformance" parallel="tests" thread-count="1">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener
			class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>

	<test name="Night Support Readings">
		<groups>
			<run>
				<include name="Platform" />
			</run>
		</groups>
		<classes>
			<class name="com.engage.performance.EngageNSReading_TC" />
		</classes>
	</test>


	<test name="Platform Readings">
		<groups>
			<run>
				<include name="Reports" />
			</run>
		</groups>
		<classes>
			<class name="com.engage.performance.EngagePlatformReading_TC" />
			<parameter name="PlatformReadings_TC1" value="Bar Graph Report"></parameter>
			<parameter name="PlatformReadings_TC2" value="Response Table Report"></parameter>
			<parameter name="PlatformReadings_TC3" value="Individual Report"></parameter>
			<parameter name="PlatformReadings_TC4" value="Frequency Table Report"></parameter>
			<parameter name="PlatformReadings_TC5" value="Conditional Report"></parameter>
			<parameter name="PlatformReadings_TC6" value="Conditional Report"></parameter>
			<parameter name="PlatformReadings_TC7" value="Cross Tab Report - 2 Level"></parameter>
			<parameter name="PlatformReadings_TC8" value="Cross Tab Report - 3 Level"></parameter>
			<parameter name="PlatformReadings_TC9" value="Pivot Table"></parameter>
			<parameter name="PlatformReadings_TC10" value="Pivot Table"></parameter>
			<parameter name="PlatformReadings_TC11" value="Verbatim Report"></parameter>
			<parameter name="PlatformReadings_TC12" value="Verbatim Report"></parameter>
			<parameter name="PlatformReadings_TC13" value="Verbatim Report"></parameter>
			<parameter name="PlatformReadings_TC14" value="Assessment Summary"></parameter>
			<parameter name="PlatformReadings_TC15" value="Response Trend"></parameter>
			<parameter name="PlatformReadings_TC16" value="Statistical Report"></parameter>
			<parameter name="PlatformReadings_TC17" value="Statistical Report"></parameter>
			<parameter name="PlatformReadings_TC18" value="Statistical Report"></parameter>
			<parameter name="PlatformReadings_TC19" value="Engagement Report"></parameter>
			
		</classes>
	</test>
	
</suite>
